@import "Mixin";

.manatal{
  font-family: 'Newsreader', serif;
    &-detail{
      &__layout{
        position: absolute;
        height: 50px;
        left: 0;
        right: 0;
        top: 367px;
        background: #FFFFFF;
        border-radius: 24px 24px 0 0;
        z-index: 0;
      }

      &__box{
        position: absolute;
        height: 141px;
        left: 32px;
        right: 32px;
        top: 333px;
        background: rgba(245, 245, 245, 0.5);
        background-blend-mode: luminosity;
        backdrop-filter: blur(81.5485px);
        border-radius: 16px;
        color: #2E0505;
        z-index: 1;

        &-date{
          @include manatal-title(600, 0, 24px, 12px);
          position: relative;
          top: 15px;
        }

        &-title{
          @include manatal-title(700, 0, 24px, 16px);
          position: relative;
          top: 5px;
        }

        &-author{
          @include manatal-title(400, 0, 24px, 10px);
          color: #2E0505;
          position: relative;
          top: 0;
        }
      }
    }
}
